@import "tailwindcss";


body{
    background-color: black;
    color:white;
}

/* Custom class to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hide-scrollbar {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
